<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="slider-container">
    <div class="slider-content">
        <div class="slider-images" id="sliderImages">
            {% for cabin in cabins %}
                <div class="slide-image {% if forloop.first %}active{% endif %}">
                    <img src="{{ cabin.photo_cabin.url }}" alt="{{ cabin.type_cabin }}">
                </div>
            {% endfor %}
        </div>
        <div class="slider-text" id="sliderText">
            {% for cabin in cabins %}
                <div class="slide-description {% if forloop.first %}active{% endif %}">
                    <h2>{{ cabin.type_cabin }}</h2>
                    <p>{{ cabin.description_cabin }}</p>
                    <p>Цена от {{ cabin.price }}$ за целую каюту</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="slider-controls">
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
</div>

<script>
    let currentSlide = 0;

    function moveSlide(direction) {
        const descriptions = document.querySelectorAll('.slide-description');
        const images = document.querySelectorAll('.slide-image');

        descriptions[currentSlide].classList.remove('active');
        images[currentSlide].classList.remove('active');

        currentSlide = (currentSlide + direction + descriptions.length) % descriptions.length;
        
        descriptions[currentSlide].classList.add('active');
        images[currentSlide].classList.add('active');
    }


</script>
</body>
</html>
