{% extends 'cruise/index.html' %}
{% load static %}
{% block title %}Круизы{% endblock %}
{% block content %}
    {% if cruise %}
        <div class="wrapper">
            <h2 class="cruise-name">{{ cruise.name_cruise }}</h2>
            <div class="cruise-wrapper">
                <section class="cruise">
                    <div class="cruise-description">

                        <p><b>Лайнер:</b> {{ cruise.ship }}</p>
                        <p><b>Регион:</b> {{ cruise.region }}</p>
                        <p><b>Дата начала:</b> {{ cruise.start_date }}</p>
                        <p><b>Дата окончания:</b> {{ cruise.end_date }}</p>
                    </div>
                    {% if cruise.ship.image_ship %}
                        <img class="cruise-image--ship" src="{{ cruise.ship.image_ship.url }}"
                             alt="{{ cruise.ship.name_ship }}">
                    {% endif %}
                </section>
                <section>
                    <h2>Расписание</h2>
                    <table class="styled-table">
                        <thead>
                        <tr>
                            <th>День</th>
                            <th>Порт</th>
                            <th>Дата</th>
                            <th>Прибытие</th>
                            <th>Отправление</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in route %}
                            <tr>
                                <td>{{ item.number_day }}</td>
                                <td>{{ item.port.name_port }}</td>
                                <td>{{ item.date|date:"d.m.y" }}</td>
                                {% if item.arrival_time == None %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ item.arrival_time }}</td>
                                {% endif %}
                                {% if item.departure_time == None %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ item.departure_time }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'cruise/cabin_slider.html' %}
                </section>
            </div>
        </div>
    {% else %}
        <section class="cruise-card">
            <h2>Выберите круиз</h2>
            <div class="cruise-card--filter">
                <div>
                    Фильтры на будущее
                </div>
                <ul class="cruise-card--list-card">
                    {% for cruise in cruises %}
                        <li class="item-card">
                            <div class="slider">
                                <div class="slides" id="slides{{ cruise.id }}">
                                    {% for r in route %}
                                        {% if r.port.image_port and cruise.id == r.cruise.id %}
                                            <div class="slide">
                                                <img src="{{ r.port.image_port.url }}"
                                                     alt="{{ r.port.name_port }}">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="navigation">
                                    <button class="prev" onclick="moveSlide('{{ cruise.id }}', -1)">&#10094;</button>
                                    <button class="next" onclick="moveSlide('{{ cruise.id }}', 1)">&#10095;</button>
                                </div>
                            </div>
                            <div class="item-card--description">
                                <div class="description-name">
                                    <a class="title"
                                       href="{% url 'cruise' %}?cruise_id={{ cruise.id }}">{{ cruise.name_cruise }}</a>
                                    <div class="no-title">
                                        <p><b>Лайнер</b>: {{ cruise.ship.name_ship }}</p>
                                        <p><b>Дата начала</b>: {{ cruise.start_date }}</p>
                                        <p><b>Дата окончания</b>: {{ cruise.end_date }}</p>
                                    </div>
                                </div>
                                <div class="description-price">
                                    {% for min in ship_with_cabin_price %}
                                        {% if min.ship == cruise.ship %}
                                            <p>от <b>{{ min.min_price }}$</b> на 1 человека</p>
                                        {% endif %}
                                    {% endfor %}
                                    <a class="btn" href="{% url 'cruise' %}?cruise_id={{ cruise.id }}">Подробнее</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <script>
            const sliderStates = {}; // Храним состояние каждого слайдера

            // Функция для перемещения слайдов первого слайдера (с использованием cruise.id)
            function moveSlide(sliderId, direction) {
                const slides = document.getElementById(`slides${sliderId}`);
                if (!slides) return;

                const totalSlides = slides.children.length;

                // Если слайдер ещё не был инициализирован, то инициализируем его
                if (!(sliderId in sliderStates)) {
                    sliderStates[sliderId] = 0;
                }

                // Обновляем текущий слайд для данного слайдера
                sliderStates[sliderId] = (sliderStates[sliderId] + direction + totalSlides) % totalSlides;

                // Для слайдера с портами
                slides.style.transform = `translateX(-${sliderStates[sliderId] * 100}%)`;
            }

            // Функция для перемещения слайдов кастомного слайдера
            

        </script>
    {% endif %}
{% endblock %}